/* Styles handled by Tailwind CSS */
.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

h2, h3, h4, label, span, div {
    font-family: 'Google Sans', sans-serif;
}